<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Bank X</title>

    <link rel="stylesheet" href="./login.css">
</head>
<body id="pageBody">
    <header id="loginHeader">
        <div class="logoBox">
            <img src="../assets/logo-teal-white-nobg.png" alt="Bank X logo" class="bankLogo">
        </div>    
    </header>

    <form class="loginPage">
        <div class="signInBox">
            <div class="signInText">Welcome</div>
            <input type="text" id="loginUser" placeholder="username" autocomplete="off">
            <input type="password" id="loginPwd" placeholder="password" autocomplete="off">
            <input type="button" value="LOG IN" class="loginButton" id="loginButton">
            
        </div>
        
    </form> 

    
</body>
<script src="../scripts/login.js"></script>
</html>